<div>
  <div class="d-flex">
    <p class="col-md-3"><b>Process</b>: {{order.order_process}}</p>
    <p class="col-md-3"><b>Materials</b>: {% for item in materials%}{{item}}/{% endfor %}</p>
    <p class="col-md-3"><b>Created Date</b>: {{order.created_at}}</p>
    <p class="col-md-3"><b>Due Date</b>: {{order.due_date}}</p>
  </div>
  <div>

  </div>
  <div class="d-flex">
    <p class="col-md-3"><b>Approved By</b>: {{order.approved_by}}</p>
    <p class="col-md-3"><b>Approval Date</b>: {{order.approval_date}}</p>
    <p class="col-md-3"><b>PO</b>: {{order.po_number}}</p>
    <p class="col-md-3"><b>Quote</b>: {{order.quote}}</p>
  </div>
  <p><b>Notes</b>:
    {{order.notes|safe}}</p>
</div>