{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
{{ order_form.media }}
{% endblock %}
{% block content %}
<h1 class="text-center">Order</h1>
<div class="d-flex justify-content-center align-items-center flex-wrap">
  <input class="d-none" value="{{order_id}}" id="order_id"></input>
  <form class="col-md-6" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ order_form|crispy }}
    {{ image_form|crispy }}
    {{ document_form|crispy }}
    <input class="btn btn-primary mt-2" type="submit" name="update_order" value="Update"> </input>
    <input class="btn btn-info mt-2" type="submit" name="archive_order" value="Archive"> </input>
  </form>
</div>
<script>
  // xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
  tinymce.init({
    selector: 'textarea',
    plugins: 'image code',
    toolbar: 'undo redo | link image | code',
    /* enable title field in the Image dialog*/
    image_title: true,
    /* enable automatic uploads of images represented by blob or data URIs*/

    /*
      URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
      images_upload_url: 'postAcceptor.php',
      here we add custom filepicker only to Image dialog
    */
    file_picker_types: 'image',
    images_upload_handler: (blobInfo, successcb, failure, progress) => {
      _name = blobInfo.blob().name;
      _type = blobInfo.blob().type;
      _base64 = blobInfo.base64();
      _order_id = document.querySelector("#order_id").value
      $.ajax({
        url: '/upload-image/',
        type: 'post',
        data: {
          "file_name": _name,
          "file_type": _type,
          "file_base64": _base64,
          "order_id": _order_id
        },
        headers: { "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value },
        success: (data, textStatus, xhr) => { successcb(data.location) },
        error: (data, textStatus, xhr) => {
          failure("Error trying to upload image")
        }
      });
    },
    /* and here's our custom image picker*/
    file_picker_callback: function (cb, value, meta) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');

      /*
        Note: In modern browsers input[type="file"] is functional without
        even adding it to the DOM, but that might not be the case in some older
        or quirky browsers like IE, so you might want to add it to the DOM
        just in case, and visually hide it. And do not forget do remove it
        once you do not need it anymore.
      */

      input.onchange = function () {
        var file = this.files[0];
        formData = new FormData()
        formData.append('file', input.value, file.title)
        $.ajax({
          url: 'upload-image/',
          type: 'post',
          data: formData,
          headers: { "X-CSRFToken": document.querySelector('input[name="csrfmiddlewaretoken"]').value },
          success: (data, textStatus, xhr) => {
            console.log(data, textStatus, xhr);
            debugger;
          }
        })
        debugger;
        var reader = new FileReader();
        reader.onload = function () {
          /*
            Note: Now we need to register the blob in TinyMCEs image blob
            registry. In the next release this part hopefully won't be
            necessary, as we are looking to handle it internally.
          */
          var id = file.name;
          var blobCache = tinymce.activeEditor.editorUpload.blobCache;
          var base64 = reader.result.split(',')[1];
          var blobInfo = blobCache.create(id, file, base64);
          blobCache.add(blobInfo);

          /* call the callback and populate the Title field with the file name */
          cb(blobInfo.blobUri(), { title: file.name });
        };
        reader.readAsDataURL(file);
      };

      input.click();
    },
    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
  });

</script>
{% endblock %}