{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block content %}
<h1>Suppliers for {{material.name}}</h1>
<table id="myTable" data-order='[[ 0, "asc" ]]' data-page-length='25'>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>UnitCost</th>
      <th>Merchant Unit</th>
      <th>Min Purchase</th>
      <th>Merchant Code</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for item in merchant_materials %}
    <tr>
      <td>{{item.merchant.company_name}}</td>
      <td>{{item.unit_cost}}</td>
      <td>{{item.merchant_unit_measurement}}</td>
      <td>{{item.minimum_units_on_purchase}}</td>
      <td>{{item.merchant_material_code}}</td>
      <td>{{item.merchant.contact_number}}</td>
      <td>{{item.merchant_contact_email}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<script>
  // The column option is setting which colmuns are serachable
  // This corosponds to OrderId, OrderName, OrderTags being searchable
  $(document).ready(function () {
    $('#myTable').DataTable({
      "columns": [
        null,
        null,
        null,
        { "searchable": false },
        { "searchable": false },
        { "searchable": false }
      ]
    });
  });
</script>

{% endblock %}